export(morpheus)
export(read.gct)
export(morpheusOutput)
export(renderMorpheus)
import(htmlwidgets)
importFrom(grDevices,col2rgb)
importFrom(stats,as.dendrogram)
importFrom(stats,dist)
importFrom(stats,hclust)
importFrom(stats,is.leaf)
importFrom(stats,order.dendrogram)
importFrom(stats,reorder)
